html, body {
	margin: 0;
	height: 100%;
}

body {
	background: #ddd url(/img/blur-background.jpg) repeat center center;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	font-family: arial;
	color: #555;
	box-sizing: border-box;
	padding: 1em;
}

body.authorized {
	align-items: stretch;
	padding-top: 3em;
}
body.authorized main,
body.authorized nav.main,
body.authorized nav.user {
	display: block;
}
body.authorized header {
	display: flex;
}
body.authorized #formLogin {
	display: none;
}


.icon {
	width: 50px;
	height: 50px;
	cursor: pointer;
	vertical-align: middle;
}
.icon:hover {
	fill: #bada55;
}





header {
	background-color: #333;
	color: #999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: none;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	-webkit-transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

header.main-open {
	-webkit-transform: translate(250px,0);
	transform: translate(250px,0);
}
header.user-open {
	-webkit-transform: translate(-250px,0);
	transform: translate(-250px,0);
}

header .icon {
	width: 30px;
	height: 30px;
	margin: 10px;
	fill: #999;
}

header h1 {
	margin: 0;
	font-weight: normal;
	font-family: 'Playball', cursive;
	font-family: georgia, serif;
	font-variant: small-caps;
}



/******* MENUES ******************************/

nav {
	display: none;
	background-color: #333;
	color: #bbb;
	width: 250px;
	height: 100%;
	position: fixed;
	top: 0;
	-webkit-transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

nav.main {
	left: 0;
	-webkit-transform: translate(-250px,0);
	transform: translate(-250px,0);
}
nav.user {
	right: 0;
	-webkit-transform: translate(250px,0);
	transform: translate(250px,0);
}
nav.open {
	-webkit-transform: translate(0,0);
	transform: translate(0,0);
}
nav ul {
	margin: 0;
	padding: 0;
}



nav li {
	padding: 0.6em 1em;
	list-style-type: none;
	cursor: pointer;
	background-color: #333;
	font-size: 1.3em;
	font-family: georgia, serif;
	border-top: 1px solid #222;
	border-bottom: 1px solid #444;
	
}
nav li:hover {
	background-color: #222;
}



nav.user .username {
	line-height: 2.4em;
	font-size: 1.4em;
	padding-left: 1em;
}
nav.main .logo {
	display: block;
	margin: 1em auto;
	width: 200px;
}


/******* CONTENT ***************************/


main {
	display: none;
	max-width: 800px;
	margin: 2em 0;
	flex: 1;
}


article {
	background-color: white;
	border: 1px solid #eee;
	padding: 2em;
	box-shadow: 0 2px 6px rgba(0,0,0,0.4);
	margin-bottom: 1em;

}




/******* LOGIN *****************************/

#formLogin {
	display: flex;
	background-color: rgba(255,255,255, 0.8);
	padding: 2em;
	margin: 1em;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
	flex:1;
	max-width: 470px;
	border-radius: 1em;
}





#formLogin #txtUsername,
#formLogin #txtPassword {
	padding: 0.3em 0.7em;
	border-radius: 5px;
	background-color: white;
	display: block;
	border: 0;
	font-size: 1.2em;
}



@media screen and (min-width: 800px) {

	body.authorized {
		padding-top: 1em;
	}

	body.authorized header {
		display: none;
	}

	nav.main {
		-webkit-transform: translate(0,0);
		transform: translate(0,0);
		
	}
	
	nav.main li {
		
	}
	
	nav.main .logo {
		width: 200px;
	}
	
	
	main {
		margin-left: 250px;
	}


	#formLogin {
		flex-direction: row;
		justify-content: space-between;
	}
	
	
	
}
