html, body {
	margin: 0;
	height: 100%;
}

body {
	background: #ddd url(/img/blur-background.jpg) repeat center center;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	font-family: arial;
	color: #555;
	box-sizing: border-box;
	padding: 0.5em;
}

body.authorized {
	align-items: flex-start;
}
body.authorized main,
body.authorized nav.main,
body.authorized nav.user {
	display: block;
}
body.authorized header {
	display: flex;
}
body.authorized #formLogin {
	display: none;
}


.icon {
	width: 50px;
	height: 50px;
	cursor: pointer;
	vertical-align: middle;
}
.icon:hover {
	fill: #bada55;
}





header {
	display: none;
	background-color: #333;
	color: #999;
	position: fixed;
	top: -50px;
	left: 0;
	width: 100%;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	-webkit-transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
	transform: translate(0, 50px);
}

header.main-open {
	-webkit-transform: translate(250px,0);
	transform: translate(250px,50px);
}
header.user-open {
	-webkit-transform: translate(-250px,0);
	transform: translate(-250px,50px);
}

header .icon {
	width: 30px;
	height: 30px;
	margin: 10px;
	fill: #999;
}

header h1 {
	margin: 0;
	font-weight: normal;
	font-family: 'Playball', cursive;
	font-family: georgia, serif;
	font-variant: small-caps;
}





/******* MENUES ******************************/

nav {
	display: none;
	background-color: #333;
	color: #bbb;
	width: 250px;
	height: 100%;
	position: fixed;
	top: 0;
	-webkit-transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
	z-index: 1;
}

nav.main {
	left: 0;
	-webkit-transform: translate(-250px,0);
	transform: translate(-250px,0);
}
nav.user {
	right: 0;
	-webkit-transform: translate(250px,0);
	transform: translate(250px,0);
}
nav.open {
	-webkit-transform: translate(0,0);
	transform: translate(0,0);
}
nav ul {
	margin: 0;
	padding: 0;
}



nav li {
	padding: 0.6em 1em;
	list-style-type: none;
	cursor: pointer;
	background-color: #333;
	font-size: 1.3em;
	font-family: georgia, serif;
	border-top: 1px solid #222;
	border-bottom: 1px solid #444;
}
nav li.active {
	color: #bada55;
}
nav li:hover {
	background-color: #222;
}



nav.user .username {
	line-height: 2.4em;
	font-size: 1.4em;
	padding-left: 1em;
}
nav.main .logo {
	display: block;
	margin: 1em auto;
	width: 200px;
}


/******* CONTENT ***************************/


main {
	display: none;
	max-width: 800px;
	margin: 4em 0 1em 0;
	-webkit-transition: margin 0.3s ease-out;
    transition: margin 0.3s ease-out;
	flex: 1;
}

h2 {
	color: rgb(57, 69, 7);
	text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.6);
	text-align: center;
}

section {
	display: none;
}


article {
	background-color: white;
	border: 1px solid #eee;
	padding: 1em;
	box-shadow: 0 2px 6px rgba(0,0,0,0.4);
	margin-bottom: 1em;
}



/***** POSTS *************************/

article.post img {
	max-width: 100%;
	height: auto;

}


/***** POST EDIT *********************/

#txt_title {
	display: block;
	width: 100%;
	font-size: 1.3em;
	padding: 0.5em;
	box-sizing: border-box;
	margin-bottom: 0.5em;
}



/*****  PLAN  ************************/


ul#plannerWeeks {
	display: flex;
	padding: 0;
	margin: 0;
	flex-wrap: wrap;
}

#plannerWeeks li {
	list-style-type: none;
	padding: 5px;
	margin: 1px;
	text-align: center;

}


ul#plannerPeriods {
	display: flex;
	padding: 0;
	margin: 0;
	flex-wrap: wrap;
}

#plannerPeriods li {
	list-style-type: none;
	padding: 1em;
	margin: 1px;
	flex: 1;
}

#plannerPeriods .family {
	font-size: 16px;
	font-weight: bold;
}

.noowner { background-color: #ddd; }
.ownercolor0 { color: #fff; background-color: hsl(199, 50%, 57%); }
.ownercolor1 { color: #fff; background-color: hsl(9, 50%, 57%); }
.ownercolor2 { color: #fff; background-color: hsl(99, 50%, 57%); }








/******* LOGIN *****************************/

#formLogin {
	display: flex;
	background-color: rgba(0,0,0, 0.6);
	padding: 2em;
	margin: 1em;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
	flex:1;
	max-width: 470px;
}

#formLogin #txtUsername,
#formLogin #txtPassword {
	padding: 0.3em 0.7em;
	background-color: white;
	display: block;
	border: 0;
	font-size: 1.2em;
	margin-bottom: 0.5em;
}




@media screen and (min-width: 600px) {

	body.authorized {
		padding: 1em;
	}


	article {
		padding: 2em;
	}

}


@media screen and (min-width: 800px) {





	body.authorized header {
		transform: translate(0,0);
	}

	nav.main {
		-webkit-transform: translate(0,0);
		transform: translate(0,0);
	}

	nav.main li {

	}

	nav.main .logo {
		width: 200px;
	}


	main {
		margin-left: 250px;
		margin-top: 0;
	}



	#formLogin {
		flex-direction: row;
		justify-content: space-between;
	}

}