[submodule "classes/DatabasePDO"]
	path = classes/DatabasePDO
	url = git@github.com:teolag/DatabasePDO.git
[submodule "classes/PHPMailer"]
	path = classes/PHPMailer
	url = https://github.com/PHPMailer/PHPMailer.git
[submodule "public_html/AjaXIO"]
	path = public_html/AjaXIO
	url = git@github.com:teolag/AjaXIO.git
